.aa {
	margin: auto;
	width: 50%;
}

.checkboxes input {
  width: 20px;
  height: 13px;
  padding: 10;
  margin:10;
  vertical-align: bottom;
  position: relative;
  top: -2px;
  *overflow: hidden;
}

.checkboxes label {

 padding-left: 3px;
 padding-right: 50px;
}

#visa {
	padding-right: 150px;
	font-weight: bold;

}

#fullTime {
	padding-right: 50px;
	font-weight: bold;
}

#companyList {
	align-items: center;
}

#lineOne {
	font-weight: bold;
}

#lineTwo {
	font-weight: bold;
}

#lineThree {
	font-weight: bold;
}
